.azeret-mono-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  /* banner style */
  .pic{
    width: 240px;
    height: 240px;
    margin-top: 32px;
  }
  .banner-title{
    font-weight: 800; 
    font-size: 48px; 
    color: #0D1321; 
    text-align: center;
    margin: 32px 0 24px;
  }
  .banner-para{
    width: 852px;
    height: 52px;
    font-weight: 400;
    font-size: 16px; 
    color: #0D1321; 
    text-align: center;
    margin:24px auto 32px; 
    opacity: 0.7;
  }
  .banner-btn{
    margin: 0 10px;
    padding: 21px 24px;
    font-weight: 600;
    font-size: 20px;
    background-color: #0D1321;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    margin-bottom: 44px;
  }
  .bg-image{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 652px;
    margin-top: 135px;
  }
  .title-para{
    width: 998px;
    height: 212px;
    margin: 0 auto;
  }
  .btn{
    width: 244px;
    height: 65px;
    margin: 0 auto;
  }
  .banner-content{
    width: 998px;
    height: 309px;
    margin: 0 auto;
  }
  .banner{
    width: 998px;
    height: 581px;
    text-align: center;
    margin: 0 auto;

  }
  /* section */
  .big-sec{ 
    width: 1140px;
    height: 1393px;
    /* margin: 74px 150px 90px 150px ; */
    padding: 80px 97px;
    background-color: #B3B3FF ;
    text-align: center;
    margin: 74px auto 90px; 
  }
   .small-sec{ 
    width: 946px;
    height: 1233px;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    /* background-color: aqua; */
  }
  .sec-title{
    font-weight: 800;
    font-size: 32px;
    color: #0D1321;
    margin-bottom: 24px;
  }
 .sec-para{
    font-weight: 400;
    font-size: 16px;
    color: #0D1321;
    margin-bottom: 48px;
    opacity: 0.7;
 }
 /* shared style */
 .sec-head{
    font-weight: 700;
    font-size: 24px;
    color: rgba(13, 19, 33, 0.7);
 }
 .sec-btn{
    font-weight: 600;
    font-size: 20;
    color: #0D1321;
    padding: 12px 20px;
    width: 171px;
    height: 47px;
 }
 /* boys */
 .yellow{
    width: 274px;
    height: 240px;
 }
 .red-2{
    width: 240px;
    height: 240px;
 }
 .mid{
    margin-right: 32px;
 }
 .title-para-2{
    width: 852px; 
    height: 113px; 
    text-align: center;
    margin: 0 auto 100px; 
 }
 .title-para-3{
    width: 946px; 
    height: 113px; 
    text-align: center;
    margin: 0 auto 48px;
 }
 .description-pic{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    background-color: #FFFFFF;

    margin-bottom: 32px;
 }
 .yellow-div{
    width: 447px;
    height: 219px;
    margin-right: 98px;
 }
 .title-para-sec{
    width: 946px;
    height: 161px;
 }
 .yellow-div{
    width: 477px;
    height: 219px;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: #FFFFFF;
    /* justify-content: flex-start;  */

 }
 .first-boy{
    width: 373px;
    height: 240px;
    /* background-color: lightpink; */
 }
 /* inspiration */
 .inspiration{
    width: 1140px;
    height: 775px;
    justify-content: center;
    margin: 0 auto 151px;
    padding: 0;
 }
 .youtube-video{
    
    text-align: center;
    padding: 32px;
    margin: 48px auto 151px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
 }
 /* target */
 .target{
    width: 1140px;
    height: 460px;
    margin: 0 auto 113px;
 }
 .target-head{
    color: #0D1321;
    font-weight: 800;
    font-size: 24px;
 }
 .target-para{
    font-weight: 400;
    font-size: 16px;
    color: #0D1321;
    opacity: 0.7;
 }
 .target-link{
    font-weight: 700;
    font-size: 16px;
    color: #0D1321;
 }
 .first-child{
    width: 364px;
    height: 299px;
    padding-bottom: 40px;
    margin-right: 24px;
    margin-bottom: 48px;
    background-color: lightpink;
    border-radius: 5px;
    
 }
 .second-child{
    width: 364px;
    height: 299px;
    padding-bottom: 40px;
    margin-right: 24px;
    margin-bottom: 48px;
    background-color: lightskyblue;
    border-radius: 5px;

 }
 .third-child{
    width: 364px;
    height: 299px;
    padding-bottom: 40px;
    margin-bottom: 48px;
    background-color: rgb(109, 109, 68);
    border-radius: 10px;

 }
 .heading{
    width: 284px;
    height: 139px;
    margin: 0 40px 40px;
 }
 .html{
   padding-top: 40px;
   padding-left: 40px;
 }
 .css{
   padding-top: 40px;
   padding-left: 40px;
 }
 .javascript{
   padding-top: 40px;
   padding-left: 40px;
 }
 .complex{
    display: flex;
    /* justify-content: flex-start;  */
    width: 1140px;
    height: 299px;
    margin: 48px auto;
 }
 /* 2nd background image */
 .last-img{
   background-image: url(../assets/handshake.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 1140px;
   height: 313px;
   margin: 48px auto 80px;
   border-radius: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .last-img.last-content{
   width: 1044px;
   margin: 64px auto;

 }
 .last-heading{
   width: 292px;
   font-weight: 700;
   font-size: 32px;
   color: #FFFFFF;
   margin: 0 auto 16px;
 }
 .last-des{
   width: 606px;
   font-weight: 400;
   font-size: 16px;
   color: #FFFFFF;
   margin: 16px auto 24px;
   opacity: 0.7;
 }
 .textarea{
   width: 548px;
   padding: 19px 20px;
   border-radius: 8px;
   font-weight: 400;
   font-size: 16px;
   color: #0D1321;
   border: none;
 }
 .sub-btn{
   width: 120px;
   padding: 17px 20px;
   border-radius: 8px;
   border: none;
   color: #0D1321;
   font-weight: 600;
   font-size: 20px;
 }
 .form-btn{
   /* width: 684px;  */
   /* height: 57px; */
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
 }
/* footer part */
  .maria{
   width: 456px;
   height: 23px;
   color: #0D1321;
   font-weight: 600;
   font-size: 20px;
   margin-top: 6.5px;
   margin-bottom: 6.5px;
  }
  .icon{
   width: 157px;
   height: 36px;
  }
  .ending{
   width: 1140px;
   height: 36px;
   background-color: #FFFFFF;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
  }
.footer{
   width: 1440px;
   height: 100px;
   padding: 32px 150px 32px 150px;
   background-color:#B3B3FF ;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

 
 